@inject Microsoft.Extensions.Localization.IStringLocalizer<ImageResizeModal> _localizer
@using CoolBlazor.Shared.Dialogs
@using Cropper.Blazor
@using Cropper.Blazor.Models;

<MudDialog ContentStyle="width: 1200px;">
    <DialogContent>
        <MudContainer Class="mt-8">
            <MudGrid Class="mt-4">
                <MudItem xs="12" sm="6">

                    <MudCard Elevation="0" Class="">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h5" Align="Align.Center">Crop it!</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <div class="img-container cropper-face-circle">
                                <CropperComponent Class="big-img" Src="@CropImageUrl" @ref="cropperComponent"
                                    Options="cropperOptions" />
                            </div>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudCard Elevation="0" Class="">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h5" Align="Align.Center">Preview</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <div Class=" d-flex justify-center">
                                <MudAvatar Style="height:250px; width:250px;">
                                    <div class="img-example-preview" />
                                </MudAvatar>
                            </div>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudContainer>


    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="GetCroppedCanvasDataURLAsync">Submit
        </MudButton>
    </DialogActions>
</MudDialog>

@* Make sure the size of the image fits perfectly into the container *@
<style>
    .cropper-face {
        opacity: 25%;
    }

    .img-container.cropper-face-circle .cropper-container .cropper-crop-box .cropper-face {
        border-radius: 50%;
    }

    .big-img {
        max-height: 400px;
        /* This rule is very important, please don't ignore this */
        max-width: 100%;
    }

    .img-container {
        max-height: 400px;
        width: 100%;
    }

    /* Means that the cropped image will take up 100% of the width of its containing element */
    .cropped-img-container {
        width: 100%;
    }

    /* These styles are just needed for a nice button and don't related with cropper component */
    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
    }

    .cropper-example {
        max-height: 400px;
        width: 100%;
    }

    .img-example-preview {
        width: 100%;
        height: 250px;
        overflow: hidden;
    }

    .img-example-preview>::deepimg {
        max-width: 100%;
    }
</style>
